    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        letter-spacing: 1px;
        font-family: $lato;
        background-color: $white;
        font-size: 62, 5%;
    }
    
    @media screen and (max-width: 768px) {
        body {
            font-size: 100%;
        }
    }
    
    @media screen and(min-width:$bp-xs) and (max-width: $bp-md) {
        body {
            font-size: 100%;
        }
        h5,
        card-title {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.25rem;
        }
        .navbar-brand {
            font-size: 2rem;
        }
    }